*{
	font-family: 'Open Sans',Arial,sans-serif;
}
nav{
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 100%;
	background: #f4f4f4;
	top: 0px;
	left: 0px;
	padding: 52px;
}

ul{
	padding-left: 0px;	
}

li{
	list-style-type: none;
	margin-bottom: 32px;
	font-size: 20px;
}
a{
	color: #3a3a3a;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
main{
	position: relative;
	left: 500px;
	width: 1000px;
	padding: 52px;
}

p {
	margin: 0px;
	line-height: 1.5;
	text-align: justify;
}

header{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 32px;
}

section{
	margin-bottom: 32px;
}

code{
	font-family: 'Courier', serif;
	  display:block;
    text-align: left;
  white-space: pre-line;
  position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color:#dddddd;
  padding:15px;
  margin:10px;

}

.properties{
	list-style-type: decimal;
	margin-bottom: 0px;
	font-size: 16px;
}
.animation{
	width: 1000px;
	height: 50px;
	left: 500px;
	border-style: solid;
	border-color: black;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#slidein{
  animation-duration: 3s;
  animation-name: slidein;
}



#ease-in{
	 animation-duration: 3s;
  animation-name: slidein;
  animation-timing-function: ease-in;
}



#delay{
  animation-duration: 3s;
  animation-name: slidein;
  animation-delay: 2s;
}



#infinite{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}


#alternate{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

#backwards{
	  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

#initial{
	animation-duration: 3s;
  animation-name: slidein;
	animation-play-state: paused;
}
